= provide(:title, 'Sign up')
%h1 Sign up

.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'shared/error_messages', :object => f.object

      = f.label :name
      = f.text_field :name

      = f.label :email
      = f.text_field :email

      = f.label :password
      = f.password_field :password

      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation

      %p.help-block
        * Although we use the latest and greatest encryption and authentication mechanism,
        you should realize that this is, after all, an "educational" app. Thusly, please do not use your
        real world passwords, kind sir. Or madam.

      = f.submit "Sign Up", :class => "btn btn-large btn-primary"
