= provide :title, 'Import Data'
%h1 Import Your Data

.row
  .span6.offset4
    = form_for(@data_file, html: {multipart: true}) do |f|
      = render 'shared/error_messages', :object => f.object
      .span6
        = f.label :data, data_file_label_content_with_link
        = f.file_field :data, :class => 'input-xlarge'
      .span6
        = f.submit "Upload", :class => "btn btn-large btn-primary"
