= provide :title, 'Data Imported'
%h1 Data Imported

%table.table.table-bordered.table-condensed
  %th Purchased By
  %th Quantity
  %th Total
  - purchases_grouped_by_deals(@data_file).each do |deal, purchases|
    %tr.deal
      %td{colspan: 3}
        %span.description= deal.description
        by
        %span.merchant_info= "#{deal.merchant_name}, #{deal.merchant_address}"
        @
        %span.price= number_to_currency(deal.price)
    - purchases.each do |purchase|
      %tr.purchase
        %td.purchaser_name= purchase.purchaser_name
        %td.quantity= purchase.quantity
        %td.toal= number_to_currency(deal.price * purchase.quantity)
    %tr.deal
      %td{colspan: 2}
        %span.sub_total_text Sub Total
      %td.price= purchases_total(purchases)
  %tr.grand_total
    %td{colspan: 2}
      %span.total_text Grand Total
    %td.price= purchases_total(@data_file.purchases)
