= provide :title, 'Data Imported'
%h1 Data Imported

%table.table.table-bordered.table-condensed
  - purchases_grouped_by_deals(@data_file).each do |deal, purchases|
    %tr.deal
      %td{colspan: 3}
        %span.description
          %strong= deal.description
        by
        %span.merchant_info
          %strong= deal.merchant_name
          , #{deal.merchant_address}
        @
        %span.price
          %strong= number_to_currency(deal.price)
      %td.price
        %strong= purchases_total(purchases)

    - purchases.each do |purchase|
      %tr.purchase
        %td
        %td.purchaser_name= purchase.purchaser_name
        %td.quantity
          = purchase.quantity
          units
        %td.toal= number_to_currency(deal.price * purchase.quantity)
  %tr.grand_total
    %td{colspan: 3}
      %span.total_text Grand Total
    %td.price= purchases_total(@data_file.purchases)
